.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    background-color: #1e1e1e;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
  }
  
  .footer-left {
    font-size: 1rem;
  }
  
  .footer-left a {
    color: #61dafb; /* Light blue for links */
    text-decoration: none;
  }
  
  .footer-left a:hover {
    text-decoration: underline;
  }
  
  .footer-right {
    font-size: 1rem;
  }