/* gallery.css */

/* Gallery Page Styling */
.gallery-page {
    padding: 20px;
    background-color: #f4f4f9;
  }
  
  .gallery-title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
  }