/* Full page background */
.gallery-page {
  background-color: #f3f4f6; /* Matches the container background */
  min-height: 100vh; /* Full height of the viewport */
  display: flex;
  flex-direction: column; /* Align content vertically */
  justify-content: flex-start; /* Move content to the top */
  align-items: center;
  padding-top: 20px; /* Add a bit of padding at the top */
}

/* Container for the entire gallery */
.gallery-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f3f4f6;
  text-align: center;
}

/* Title of the gallery */
.gallery-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
  margin-top: 0; /* Remove extra margin at the top */
}

/* Container to hold all the images in a horizontal scroll */
.gallery-images {
  display: flex;
  flex-direction: row; /* Make the images go horizontally */
  gap: 15px; /* Space between images */
  overflow-x: auto; /* Enable horizontal scrolling */
  padding-bottom: 10px;
  scroll-snap-type: x mandatory; /* Smooth snapping when scrolling */
}

.gallery-page-title{
  font-size: 3.5rem;
    font-weight: bold;
    color: #2d2d2d;
    font-weight: bold;
}
.gallery-image {
  width: 200px; /* Set width */
  height: 200px; /* Set height */
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  object-fit: cover; /* Make sure the image fits well */
  scroll-snap-align: center; /* Snap the images to the center when scrolling */
  transition: transform 0.3s ease; /* Smooth transition for scaling */
  cursor: pointer;
}

/* Hover effect to enlarge the image */
.gallery-image:hover {
  transform: scale(1.2); /* Scale the image by 1.2 times on hover */
  z-index: 1; /* Ensure the image hovers over the others */
}

.image-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent dark background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


.modal-image {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
}


.close-button {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 3rem;
  color: white;
  cursor: pointer;
  z-index: 1001;
}

.close-button:hover {
  color: #ff6347; /* Change color on hover */
}