/* navbar.css */

/* Container for logo and title */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 40px;
    background-color: #000000; 
    width : 100%;
  }
  
  /* Logo styling */
  .navbar-logo-container {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo {
    width: 80px; /* Make the logo bigger */
    height: 80px;
    margin-right: 10px;
  }
  
  /* Title styling */
  .navbar-title {
    font-size: 20px;
    color: #fff;
    font-family: 'Comfortaa', sans-serif;
  }
  
  /* Menu icon for smaller screens */
  .navbar-menu-icon {
    display: none;
    cursor: pointer;
    color: #fff;
  }
  
  .menu-icon {
    width: 20px;
    height: 20px;
  }
  
  /* Links styling */
  .navbar-links {
    display: flex;
    gap: 25px;
  }
  
  .navbar-link {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    font-family: 'Comfortaa', sans-serif;
  }
  
  .navbar-link:hover {
    color: #E5E7EB; /* Light gray for hover effect */
  }
  
  /* Responsive styles for mobile screens */
  @media (max-width: 768px) {
    .navbar-links {
      display: none;
    }
    .navbar-menu-icon {
      display: block;
    }
  }