/* Team container */
.team-container {
    padding: 20px;
    background-color: #f3f4f6;
  }
  
  /* Header styling */
  .team-header {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .team-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom:120px;
  }
  
  .team-highlight {
    color: #ff6347; /* Highlight color */
  }
  
  /* Advisor and animation container */
  .advisor-animation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }
  
  /* Advisor card container */
  .advisor-card {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  /* Animation container */
 
  
  /* Team members card grid */
  .members-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    margin-top: 4px;
  }
  